@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  background-image: url("./assets/meals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.body{
  min-width: 400px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width:500px) {
  .hidden{
    display: none;
  }
}

@media screen and (max-width:900px) {
  .hidden{
    display: block;
  }
}